/*
 * The syntax light mode typography colors
 */

@mixin light-scheme {
  /* Framework color */
  --body-bg: #F8FAFC;
  --mask-bg: #CBD5E1;
  --main-bg: #FFFFFF;
  --main-border-color: #E2E8F0;

  /* Common color */
  --text-color: #334155;
  --text-muted-color: #64748B;
  --heading-color: #0F172A;
  --blockquote-border-color: #E2E8F0;
  --blockquote-text-color: #64748B;
  --link-color: #8B5CF6;
  --link-underline-color: #DDD6FE;
  --button-bg: #FFFFFF;
  --btn-border-color: #E2E8F0;
  --btn-backtotop-color: #64748B;
  --btn-backtotop-border-color: #E2E8F0;
  --btn-box-shadow: rgba(0, 0, 0, 0.1);
  --checkbox-color: #CBD5E1;
  --checkbox-checked-color: #8B5CF6;
  --img-bg: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(248, 250, 252) 100%);
  --shimmer-bg:
    linear-gradient(90deg,
      rgba(248, 250, 252, 0) 0%,
      rgba(226, 232, 240, 1) 50%,
      rgba(248, 250, 252, 0) 100%);

  /* Sidebar */
  --sidebar-bg: #F1F5F9;
  --sidebar-muted-color: #94A3B8;
  --sidebar-active-color: #8B5CF6;
  --nav-cursor-color: #8B5CF6;
  --sidebar-btn-bg: #FFFFFF;

  /* Topbar */
  --topbar-text-color: #475569;
  --topbar-wrapper-bg: #FFFFFF;
  --search-wrapper-bg: rgba(241, 245, 249, 0.5);
  --search-wrapper-border-color: #E2E8F0;
  --search-tag-bg: #F1F5F9;
  --search-icon-color: #94A3B8;
  --input-focus-border-color: #8B5CF6;

  /* Home page */
  --post-list-text-color: #475569;
  --btn-patinator-text-color: #475569;
  --btn-paginator-hover-color: #F1F5F9;
  --btn-paginator-border-color: #E2E8F0;
  --btn-text-color: #64748B;
  --pin-bg: #F1F5F9;
  --pin-color: #8B5CF6;

  /* Posts */
  --btn-share-hover-color: var(--link-color);
  --card-border-color: #E2E8F0;
  --card-box-shadow: rgba(226, 232, 240, 0.76);
  --label-color: #64748B;
  --relate-post-date: rgba(71, 85, 105, 0.6);
  --footnote-target-bg: #DDD6FE;
  --tag-bg: #F1F5F9;
  --tag-border: #E2E8F0;
  --tag-shadow: #CBD5E1;
  --tag-hover: #DDD6FE;
  --tb-odd-bg: #F8FAFC;
  --tb-border-color: #E2E8F0;
  --dash-color: #CBD5E1;
  --kbd-wrap-color: #CBD5E1;
  --kbd-text-color: var(--text-color);
  --kbd-bg-color: #FFFFFF;
  --prompt-text-color: rgba(30, 41, 59, 0.77);
  --prompt-tip-bg: rgba(134, 239, 172, 0.2);
  --prompt-tip-icon-color: #22C55E;
  --prompt-info-bg: #DBEAFE;
  --prompt-info-icon-color: #3B82F6;
  --prompt-warning-bg: #FEF3C7;
  --prompt-warning-icon-color: #F59E0B;
  --prompt-danger-bg: rgba(254, 202, 202, 0.56);
  --prompt-danger-icon-color: #EF4444;

  [class^="prompt-"] {
    --link-underline-color: rgb(219, 216, 216);
  }

  .dark {
    display: none;
  }

  /* Categories */
  --categories-hover-bg: #DDD6FE;
  --categories-icon-hover-color: #8B5CF6;

  /* Archive */
  --timeline-color: #E2E8F0;
  --timeline-node-bg: #8B5CF6;
  --timeline-year-dot-color: #FFFFFF;
}

/* light-scheme */